* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 8vh 0 0 0;
    background-color: #E6E6E6;
}


.nav {
    background-color: #E6E6E6;
    height: 8vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 24px;
    z-index: 10;
    transition: 0.5s top;
}

.main {
    background-color: #F5F5F5;
    min-height: 80vh;
    color: #464451;
    padding: 8vh 0;
}

/* .footer {
    background-color: transparent;
    height: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 24px;
    color: #F5F5F5;
    z-index: 9;
} */

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-text {
    margin-left: 10px;
    color: #F5F5F5;
}
/* 
.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: #F5F5F5;
} */

/* .nav {
    height: 100%;
} */

.desktop-header-container{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3vw;
    gap: 15px;
}

.nav-item {
    display: flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.nav-item:not(:last-child) {
    border-right: 3px solid #464451;
}

.nav-logo {
    /* transform: translateX(300%); */
    height: 26px;
    width: 26px;
    margin-right: 15px;
    background-color: #464451;
    transition: 0.5s background-color, 0.5s transform;
}

.nav-logo.home {
    -webkit-mask: url(assets/img/house-solid.svg) no-repeat center;
    mask: url(assets/img/house-solid.svg) no-repeat center;
}

.nav-logo.history {
    -webkit-mask: url(assets/img/clock-rotate-left-solid.svg) no-repeat center;
    mask: url(assets/img/clock-rotate-left-solid.svg) no-repeat center;
}

.nav-logo.exit {
    -webkit-mask: url(assets/img/right-from-bracket-solid.svg) no-repeat center;
    mask: url(assets/img/right-from-bracket-solid.svg) no-repeat center;
}

.nav-logo:hover {
    cursor: pointer;
    background-color: #29282f;
}

.nav-text {
    color: #29282f;
    white-space: nowrap;
    width: 0px;
    transform: translateX(100%);
    transition: 0.5s transform, 0.5s width;
}

.nav-item:hover .nav-text {
    transform: translateX(0%);
    width: 100px;
}

.nav-item.history:hover .nav-text {
    transform: translateX(0%);
    width: 200px;
}

.nav-item.exit:hover .nav-text {
    transform: translateX(0%);
    width: 80px;
}

.nav-item:hover .nav-logo {
    background-color: #29282f;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .cart-icon {
    background-color: #F5F5F5;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s background-color;
    
}

.cart-icon:hover {
    background-color: #c8c4c4;
    cursor: pointer;
}

.cart-icon:hover .cart-logo {
    background-color:#29282f;
}

.cart-logo {
    height: 26px;
    width: 26px;
    margin-left: -2px;
    -webkit-mask: url(assets/img/cart-shopping-solid.svg) no-repeat center;
    mask: url(assets/img/cart-shopping-solid.svg) no-repeat center;
    background-color: #464451;
    transition: 0.5s background-color;
} */


@media only screen and (min-width: 787px) {

    .footer {
        display: none;
    }

    .item-image {
        width: 250px;
        height: 150px;
    }

    .scroller {
        display: none;
    }

    .modal {
        display: none;
    }

    .desktop-menu {
        display: flex;
        justify-content: space-around;
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin: -1px;
        overflow: hidden;
        /* border-style: solid;
        border-color: #c8c4c4;
        border-width: 1px 0;
        transition: border-color .3s ease-out; */
        /* border-top: 1px solid #c8c4c4;*/
        border-bottom: 1px solid #c8c4c4; 
    }

    .item-wrapper {
        border-style: solid;
        border-color: transparent;
        border-width: 1px;
        transition: border-color .4s ease-out;
        border-radius: 6px;
        padding: 0 3rem;
    }

    /* .item:hover {
        border:none;
        margin: 0px 1.5rem;
    } */

    .item-wrapper:hover {
        cursor: pointer;
        border-color: #c8c4c4;
    }

    .items {
        min-width: 50%;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 15%;
        position: sticky;
        top: 12vh;
        max-height: 70vh;
        gap: 20px;
        font-size: 18px;
        color: #464451;
        overflow: hidden;
        margin-left: 50px;
    }

    .category-field {
        /* display: flex;
        flex-direction: column;
        gap: 3px; */
        position: relative;
    }
    .category-field:hover {
        color: #29282f;
        cursor: pointer;
    }

    .category-field::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #29282f;
        transform: translateX(-100%);
        transition: transform .4s cubic-bezier(.01,.21,.35,1), font-weight .4s;
        overflow: hidden;
        /* height: 2px;
        width: auto; */
        /* background-color: #29282f; */
    }

    .category-field:hover:after,
    .category-field.active:after {
        transform: translateX(0%);
    }

    .category-field:hover,
    .category-field.active {
        color: #29282f;
        font-weight: bold;
    }

    .cart {
        min-width: 20%;
        position: sticky;
        top: 12vh;
        max-height: 70vh;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    .cart-header {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 40px; */
        color: #F5F5F5;
        font-weight: 400;
    }

    .cart-sum {
        color: #F5F5F5;
        font-weight: 400;
    }

    .cart-desktop-button {
        height: 50px;
        width: 97%;
        border-radius: 10px;
        border: 1px solid #c8c4c4;
        padding: 10px 0;
        background-color: #464451;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        transition: .5s background-color, .5s height, .5s width;
    }

    .cart-desktop-button:hover {
        height: 53px;
        width: 100%;
        cursor: pointer;
        background-color: #29282f;
    }

    .cart-circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #F5F5F5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category-name {
        font-size: 22px;
        margin-bottom: 40px;
        padding-left: 3rem;
    }

    .category-items:last-child {
        margin-bottom: 50px;
    }

    .item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-container {
        width: 210px;
        height: 210px;
        margin: 2px;
    }

    .item-image {
        /* width: 250px;
        height: auto;
        border-radius: 15px;
        border: 1px solid #c8c4c4; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .item-text {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .modal {
        width: 600px;
        display: block;
        position: fixed;
        z-index: 12;
        left: 50%;
        top: 40px;
        background-color: #E6E6E6;
        border-radius: 30px;
        opacity: 0;
        transform: translate(-50%, 250%);
        transition: 0.5s transform, 0.5s opacity;
    }

    .modal.open {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    .modal-backdrop {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000070;
        z-index: 11;
    }

    .modal.open + .modal-backdrop {
        display: block;
    }

    .modal-image {
        width: 600px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .modal-text {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        height: 30%;
        justify-content: space-between;
        gap: 20px;
    }

    .modal-name {
        font-size: 26px;
        font-weight: bold;
    }

    .modal-price {
        font-size: 20px;
    }

    .modal-description {
        font-size: 20px;
    }

    .item-quantity {
        height: 50px;
    }


    .quantity-wrapper {
        background-color: #FCFCFC;
        display: flex;
        justify-content: space-between;
        border: 1px solid #c8c4c4;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
    }
    
    .minus-icon,
    .plus-icon {
        background-color: #E6E6E6;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
    }
    
    .minus-icon:hover,
    .plus-icon:hover {
        cursor: pointer;
    }
    
    .minus-icon:hover span,
    .plus-icon:hover span {
        background-color: #302f38;
    }
    
    .minus-icon span {
        width: 20px;
        height: 2px;
        border-radius: 2px;
        background-color: #464451;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s background-color;
    }
    
    .plus-icon span {
        width: 20px;
        height: 2px;
        border-radius: 2px;
        background-color: #464451;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s background-color;
    }
    
    .plus-icon span:last-child {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .quanity-field {
        background-color: inherit;
        border: none;
        outline: none;
        width: 40px;
        font-size: 22px;
        border-bottom: 1px solid #c8c4c4;
        text-align: center;
        color: #464451;
        padding: 1px;
    }
    
    .quanity-field::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .add-to-cart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 100%;
        padding: 10px;
        font-size: 22px;
        height: 50px;
        /* font-weight: bold; */
        background-color: #464451;
        color: #F5F5F5;
        border: 1px solid #c8c4c4;
        border-radius: 10px;
    }

    .modal-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        height: 100px;
    }

    .add-to-cart-wrapper {
        cursor: pointer;
        transition: .5s background-color;
    }

    .add-to-cart-wrapper:hover {
        background-color: #29282f;
    }
}

@media only screen and (max-width: 1200px) {
    .cart-header {
        display: none;
    }
}


@media only screen and (max-width: 786px) {

    .header {
        background-color: #E6E6E6;
        height: 8vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        font-size: 24px;
        z-index: 10;
        transition: 0.5s top;
    }

    .main {
        padding: 5vh 0;
    }

    .nav,
    .categories,
    .cart {
        display: none;
    }

    .desktop-menu {
        display: block;
    }

    .header {
        height: 10%;
        font-size: 18px;
        background-color: #E6E6E6;
    }

    .header-container {
        max-width: 2000px;
        overflow: hidden;
        gap: 20px;
        overflow-x: auto;
    }

    .scroller {
         display: flex;
    }

    .category-field {
        /* background-color: #464451; */
        padding: 12px 25px;
        border-radius: 30px;
        white-space: nowrap;
        color: #464451;
        transition: 0.5s background-color, 0.5s color, 0.5s font-weight;
    }

    .category-field.active {
        /* background-color: #c8c4c4; */
        /* color: #29282f; */
        background-color: #464451;
        color: #F5F5F5;
        font-weight: bold;
    }
    
    .image-container {
        width: 180px;
        height: 180px;

    }

    .item-image {
        /* width: 250px;
        height: auto;
        border-radius: 15px;
        border: 1px solid #c8c4c4; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .category-name {
        margin-bottom: 10px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #c8c4c4;
    }

    .item-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    .category-name {
        font-size: 20px;
    }

    .modal {
        display: block;
        position: fixed;
        z-index: 12;
        bottom: 0;
        left: 0;
        right: 0;
        top: 250px;
        background-color: #E6E6E6;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        transform: translateY(100%);
        transition: 0.5s transform;
    }

    .modal.open {
        transform: translateY(0);
    }

    .modal-backdrop {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000070;
        z-index: 11;
    }

    .modal.open + .modal-backdrop {
        display: block;
    }

    /* .img-container {
        width: 100vw;
        height: 150px;
    } */

    .modal-image {
        width: 100%;
        height: auto;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .modal-text {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        height: 30%;
        justify-content: space-between;
    }

    .modal-name {
        font-size: 26px;
        font-weight: bold;
    }

    .modal-price {
        font-size: 20px;
    }

    .modal-description {
        font-size: 20px;
    }

    .item-quantity {
        height: 50px;
    }


    .quantity-wrapper {
        background-color: #FCFCFC;
        display: flex;
        justify-content: space-between;
        border: 1px solid #c8c4c4;
        border-radius: 10px;
        padding: 10px;
        width: 35vw;
    }
    
    .minus-icon,
    .plus-icon {
        background-color: #E6E6E6;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
    }
    
    .minus-icon:hover,
    .plus-icon:hover {
        cursor: pointer;
    }
    
    .minus-icon:hover span,
    .plus-icon:hover span {
        background-color: #302f38;
    }
    
    .minus-icon span {
        width: 20px;
        height: 2px;
        border-radius: 2px;
        background-color: #464451;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s background-color;
    }
    
    .plus-icon span {
        width: 20px;
        height: 2px;
        border-radius: 2px;
        background-color: #464451;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s background-color;
    }
    
    .plus-icon span:last-child {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .quanity-field {
        background-color: inherit;
        border: none;
        outline: none;
        width: 40px;
        font-size: 22px;
        border-bottom: 1px solid #c8c4c4;
        text-align: center;
        color: #464451;
        padding: 1px;
    }
    
    .quanity-field::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .add-to-cart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 100%;
        padding: 10px;
        font-size: 22px;
        height: 50px;
        /* font-weight: bold; */
        background-color: #464451;
        color: #F5F5F5;
        border: 1px solid #c8c4c4;
        border-radius: 10px;
    }

    .modal-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        height: 100px;
    }
    
    .footer {
        background-color: #E6E6E6;
        height: 10%;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 24px;
        z-index: 9;
    }

    /* .cart-button {
        background-color: #464451;
        color: #F5F5F5;
        padding: 15px;
        width: 100%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .nav-item:not(:last-child) {
        border-right: none;
    }

    .nav-logo.cart-nav {
        -webkit-mask: url(assets/img/cart-shopping-solid.svg) no-repeat center;
        mask: url(assets/img/cart-shopping-solid.svg) no-repeat center;
    }

    .nav-item {
        overflow: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-text {
        font-size: 12px;
        transform: none;
        transition: none;
        width: auto;
        text-align: center;
    }

    .nav-logo {
        margin-right: 0;
        margin-bottom: 3px;
    }

    .footer-container {
        align-items: baseline;
        padding: 6% 3%;
    }

}

@media screen and (min-width: 480px) and (max-width:600px) {
    .modal {
        top: 150px;
    }
}

@media screen and (min-width: 601px) and (max-width:786px) {

    .modal {
        top: 50px;
    }
}